body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rosybrown;
}

h1 {
    text-align: center;
    color: maroon;
    margin-top: 30px;
    font-size: 60px;
}

#calculator {
    height: 602px;
    width: 404px;
    background-color: beige;
    margin: 50px auto auto auto;
    border:  maroon;
}

#result {
    height: 120px;
    width: 404px;
    background-color: beige;
    border: solid 1px maroon;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    color: maroon;
}

.number {
    height: 70px;
    width: 100.5px;
    background-color: beige;
    border: solid 1px maroon;
    display: inline-block;
    margin: -3px;
}

.all {
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
}

.digits {
    color: cornflowerblue;
}

.operators {
    color: darkgoldenrod;
}

.row {
    height: 108px;
    width: 402px;
    border: solid 1px maroon;
    margin-left: 2px;
}

.buttons {
    position: relative;
    text-align: center;
}

.delete {
    border-radius: 50%;
    color: maroon;
    background-color: beige;
    font-size: 14px;
    margin:40px auto;
    display: inline;
    text-align: center;
    padding: 12px 28px;
}

.delete:focus {
    outline: none;
}
